{% extends "base.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<link type="text/css" rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename = 'js/home.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="wrapper fixed-wrapper">
        <section id="terminal">
            <div id="terminal-container">
                <div class="terminal">
                    <div class="window-title">
                        <div class="win-buttons">
                            <a id="close" class="button" href="#"></a>
                            <a id="min" class="button" href="#"></a>
                            <a id="max" class="button" href="#"></a>
                        </div>
                        <span class="title">oh-my-zsh</span>
                    </div>
                    <div class="message">
                        <span class='prompt'><span class='user'>crearo</span><span class="at">@</span><spanclass="path">/home/justin/</span>><span class="caret">$</span></span>
                        <span class="typed"></span>
                        <form>><span class="caret">$</span>&nbsp;<input type="text" name="response"/></form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="wrapper scroll-wrapper">
        <div class="top-text">
            <p class="text-title desktop-view">TABLES TURN,</p>
            <p class="text-title desktop-view">BRIDGES BURN,</p>
            <p class="text-title desktop-view">YOU LIVE AND LEARN</p>
            <p class="text-title desktop-view">--DRAKE</p>
            <p class="text-title mobile-view">Justin Ding</p>
            <div class="social-icons">
                <a target="_blank" href="https://github.com/justinwoo97">
                    <img class="title-logo" src="static/images/github.svg">
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/qizhending/">
                    <img class="title-logo" src="static/images/linkedin-logo.svg">
                </a>
                <a target="_blank" href="https://twitter.com/Justin_ding1997">
                    <img class="title-logo" src="static/images/twitter.svg">
                </a>
                <a target="_blank" href="https://www.instagram.com/justinwoo97/">
                    <img class="title-logo" src="static/images/insta.svg">
                </a>
            </div>
        </div>
        <div class="middle-text">

            <h1 class="text-content">I hate seeing things the way they are</h1>

            <p class="text-content">I enjoy digging deeper into anything that excites me or makes me curious. That is what attracted me to data analytics. To me, data analytics is not just any boring geeky task. It’s a way to tell a story. And every storyteller knows that a good story requires focus, creativity, and logic. Every story also has a problem to be solved. I love the critical thinking needed for every solution. I love the plethora of tools that are at my disposal--Python, Tableau, and Matlab. I love the insight that teamwork can bring to every problem. Storytelling of data is my passion.</p>

            <p class="text-content">My obsession with data kickstarted my first personal project, “NJ gerrymandering” and my internship experience at Parsons Dance.</p> 

            <h1 class="text-content">My work at Parsons Dance:</h1>

            <p class="text-content">I worked as an intern for Parsons Dance. I created a project on my own which was to utilize Mailchimp, a marketing automation platform that stores information such as names, emails in CSV format, to find donors who have the highest potentials based on their donation amount, appearances to our events, etc. I extracted, cleaned and filtered more than 7000 rows of data and wrote a script in Python and helped the company to determine whom they should invite back to the annul gala events and auctions based on some of the factors that my team and I agreed on. </p>

            <h1 class="text-content">My personal project:</h1>

            <p class="text-content">I am also the leader of my personal project. You can find more detailed information on our website njcongdata.info. During the project, I realized It would be really hard for us to proceed any further without a member who has a solid statistical background. Instead of learning everything from scratch, I reached out to a senior who has stats background and convinced him to join our team so my teammates and I could focus on the area that we are strong in. This is my first time being a part of a group project and as the leader of the team, it has taught me the skills and determinations that are required for a project to be up and running.</p>

            <p class="text-content">Let's get in touch!</p>

            <p class="text-content">Justin Ding</p>

            <br>
        </div>
    </div>
</div>
{% endblock %}
